<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style-edit-article.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid title-container">
        <div class="row">
            <div class="col-8">
                <h2 class="title" contenteditable="true" spellcheck="false">제목</h2>
                <p class="subtitle" contenteditable="true" spellcheck="false">부제목</p>
            </div>
            <div class="col-4">
                <h6 class="author"><%= usrmail%></h6>
            </div>
        </div>
    </div>
    <div class="editable"></div>
    <input id="articleId" type="hidden" name="<%= articleId%>">
    <script src="/javascripts/medium-editor.min.js"></script>
    <script src="/javascripts/jquery-3.4.0.slim.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script>
        var editor = new MediumEditor('.editable', {
            spellcheck: false,
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote', 'orderedlist', 'unorderedlist']
            }
        });
    </script>
    <script>
		function clearText(elem) {
			var el = document.querySelector(elem);
			el.addEventListener('click', function() {
					el.innerText = '';
			});
		}
		clearText(".title");
		clearText(".subtitle");
    </script>
    <script>
		let contentRef = {
			article: document.querySelector(".editable"),
            title: document.querySelector(".title"),
            subtitle: document.querySelector(".subtitle"),
            articleId: document.querySelector("#articleId")
		}
        const socket = io.connect('http://13.125.209.158:51631');
        contentRef.article.addEventListener("input", () => {
            socket.emit('editedContents', {
				article: contentRef.article.innerHTML,
				title: contentRef.title.innerHTML,
				subtitle: contentRef.subtitle.innerHTML,
				articleId: contentRef.articleId.getAttribute("name")
			});
        });
		contentRef.title.addEventListener("input", () => {
            socket.emit('editedContents', {
				article: contentRef.article.innerHTML,
				title: contentRef.title.innerHTML,
				subtitle: contentRef.subtitle.innerHTML,
				articleId: contentRef.articleId.getAttribute("name")
			});
        });
		contentRef.subtitle.addEventListener("input", () => {
            socket.emit('editedContents', {
				article: contentRef.article.innerHTML,
				title: contentRef.title.innerHTML,
				subtitle: contentRef.subtitle.innerHTML,
				articleId: contentRef.articleId.getAttribute("name")
			});
        });
    </script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>