<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/edit-article.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid title-container">
        <div class="row">
            <div class="col-8">
                <h2 class="title" contenteditable="true" spellcheck="false">Sample Title</h2>
                <p class="subtitle" contenteditable="true" spellcheck="false">Sample SubTitle</p>
            </div>
            <div class="col-4">
                <h6 class="author"><%= usrmail%></h6>
            </div>
        </div>
    </div>
    <div class="editable"></div>
    <input id="articleId" type="hidden" name="<%= articleId%>">
    <script src="/javascripts/medium-editor.min.js"></script>
    <script src="/javascripts/jquery-3.4.0.slim.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script>
        var editor = new MediumEditor('.editable', {
            spellcheck: false,
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote', 'orderedlist', 'unorderedlist']
            }
        });
    </script>
    <script>
        
    </script>
    <script>
        var socket = io.connect('http://localhost:3003');
        var content = {
            article: $('.editable'),
            title: $('.title'),
            subtitle: $('.subtitle'),
            articleId: $('#articleId')
        }
        $('.editable').on('input', function() {
            socket.emit('editedContents', 
            {
                article: content.article.html(),
                title: content.title.html(),
                subtitle: content.subtitle.html(),
                articleId: content.articleId.attr("name")
            });
        });
        $('.title').on('input', function() {
            socket.emit('editedContents', 
            {
                article: content.article.html(),
                title: content.title.html(),
                subtitle: content.subtitle.html(),
                articleId: content.articleId.attr("name")
            });
        });
        $('.subtitle').on('input', function() {
            socket.emit('editedContents', 
            {
                article: content.article.html(),
                title: content.title.html(),
                subtitle: content.subtitle.html(),
                articleId: content.articleId.attr("name")
            });
        });
    </script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>

<!--수정 방법은 jQuery .append("저장된 내용") 으로 불러오면 된다.-->
<!--저장 방법은 editor.getContent해서 나온 HTML코드를 저장하면 된다.-->