<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style-index.css">
</head>
<body>
  <div class="container-fluid main-screen">
    <div class="title-container">
        <h2 class="title">Sample Title</h2>
        <h6 class="author">Author</h6>
        <p class="subtitle">Sample SubTitle</p>
    </div>
    <div class="fixed-top">
        <button type="button" class="btn btn-primary new-article articles" onclick="location.href='/articles'">글 목록</button>
        <button type="button" class="btn btn-primary new-article" onclick="location.href='/login'">로그인</button>
    </div>
  </div>
  <script src="/javascripts/jquery-3.4.0.slim.min.js" charset="utf-8"></script>
  <script src="/javascripts/popper.min.js" charset="utf-8"></script>
  <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>