<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style-index.css">
	<style>
		@media (max-width: 374px) {
			.title-container {
				width: 100%;
				left: 0;
				margin-left: 0;
			}
		}
		@media (max-width: 244px) {
			.fixed-top {
				margin-top: 30px;
			}
			
			.articles {
				display: block;
				margin: auto;
				width: 85%;
				margin-bottom: 15px;
			}
			
			.new-article {
				display: block;
				margin: auto;
				width: 85%;
				position: static;
			}
		}
	</style>
</head>
<body>
  <div class="container-fluid main-screen">
    <div class="title-container">
        <h2 class="title">Sample Title</h2>
        <h6 class="author">Author</h6>
        <p class="subtitle">Sample SubTitle</p>
    </div>
    <div class="fixed-top">
        <button type="button" id="articles" class="btn btn-primary new-article articles" onclick="location.href='/articles/all'">글 목록</button>
        <% if(!currentUser) { %>
          <button type="button" class="btn btn-primary new-article" onclick="location.href='/login'">로그인</button>
        <% } else { %>
          <form action="logout" method="post">
            <button type="submit" class="btn btn-primary new-article">로그아웃</button>
          </form>
          <script>
            document.getElementById('articles').style.marginRight = "140px";
          </script>
        <% } %>
        
    </div>
  </div>
  <script src="/javascripts/jquery-3.4.0.slim.min.js" charset="utf-8"></script>
  <script src="/javascripts/popper.min.js" charset="utf-8"></script>
  <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>