<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style-edit-article.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid title-container">
        <div class="row">
            <div class="col-8">
                <h2 class="title" contenteditable="true" spellcheck="false"></h2>
                <p class="subtitle" contenteditable="true" spellcheck="false"></p>
            </div>
            <div class="col-4">
                <h6 class="author"></h6>
            </div>
        </div>
		<button class="exit btn btn-primary" onclick="location.href = '/articles/all'">나가기</button>
    </div>
    <div class="editable"></div>
    <input id="articleId" type="hidden" name="<%= article.id%>">
    <script src="/javascripts/medium-editor.min.js"></script>
    <script src="/javascripts/jquery-3.4.0.slim.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script>
        let editor = new MediumEditor('.editable', {
            spellcheck: false,
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote', 'orderedlist', 'unorderedlist']
            }
        });
    </script>
    <script>
        function htmlDecode(input) {
            let doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }
        const titleContainer = document.querySelector('h2');
        const subtitleContainer = document.querySelector('p');
        const articleContainer = document.querySelector('.editable');

        titleContainer.innerHTML = htmlDecode("<%= article.title%>");
        subtitleContainer.innerHTML = htmlDecode("<%= article.subtitle%>");
        articleContainer.innerHTML = htmlDecode("<%= article.article%>");
    </script>
	<script>
		function clearText(elem) {
			const el = document.querySelector(elem);
			el.addEventListener('click', function() {
				el.innerText = '';
			});
		}
		clearText(".title");
		clearText(".subtitle");
	</script>
    <script>
        const socket = io.connect('http://localhost:3003');
        let contentRef = {
            article: document.querySelector(".editable"),
            title: document.querySelector(".title"),
            subtitle: document.querySelector(".subtitle"),
            articleId: document.querySelector("#articleId")
        }
        contentRef.article.addEventListener("input", () => {
            socket.emit('editedContents', {
				article: contentRef.article.innerHTML,
				title: contentRef.title.innerHTML,
				subtitle: contentRef.subtitle.innerHTML,
				articleId: contentRef.articleId.getAttribute("name")
			});
        });
		contentRef.title.addEventListener("input", () => {
            socket.emit('editedContents', {
				article: contentRef.article.innerHTML,
				title: contentRef.title.innerHTML,
				subtitle: contentRef.subtitle.innerHTML,
				articleId: contentRef.articleId.getAttribute("name")
			});
        });
		contentRef.subtitle.addEventListener("input", () => {
            socket.emit('editedContents', {
				article: contentRef.article.innerHTML,
				title: contentRef.title.innerHTML,
				subtitle: contentRef.subtitle.innerHTML,
				articleId: contentRef.articleId.getAttribute("name")
			});
        });
    </script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>