body {
    overflow-x: hidden;
}

.title-container {
    margin-top: 20px;
    width: 70%;
    border-bottom: 1px solid;
}

.title {
    outline: none;
}

.subtitle {
    outline: none;
}

.author {
    margin-top: 16px;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

.editable {
    outline: none;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

blockquote {
    font-family: 'Noto Serif', serif;
    /*text-align: center;
    font-size: 10px;*/
    border-left: 3px solid gray;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 0;
}