body {
    overflow-x: hidden;
}

.title-container {
    margin-top: 20px;
    width: 70%;
    border-bottom: 1px solid;
}

.title, .subtitle {
	border: 0;
	outline: none;
}

.subtitle {
	color: #666666;
}

.title:focus {
	height: 38px;
}

.subtitle:focus {
	height: 24px;
}

.author {
    position: absolute;
    padding-right: 15px;
	margin-top: 16px;
	right: 0;
}

.editable {
    outline: none;
    width: 70%;
	padding-top: 30px;
    margin: auto;
}

blockquote {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
	padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 3px solid gray;
    margin-left: 0;
}

img {
    width: 100%;
}